[defaults]
# Enterprise Vault Resolution: Tells Ansible to automatically map 
# vault file decryption requests dynamically using our script client.
vault_identity_list = forti-fw-01@.vault_lookup.py, palo-fw-01@.vault_lookup.py
